<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517056704409-i6eos0gss86q3k2at8cpjmq7g71r5ojd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517056704409-i6eos0gss86q3k2at8cpjmq7g71r5ojd</string>
	<key>API_KEY</key>
	<string>AIzaSyC09HWy8uFXGTgLWXp_s9pIUW4OPltwW0g</string>
	<key>GCM_SENDER_ID</key>
	<string>517056704409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.i2I3G9</string>
	<key>PROJECT_ID</key>
	<string>dogsrides-e2f95</string>
	<key>STORAGE_BUCKET</key>
	<string>dogsrides-e2f95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517056704409:ios:31d750d103963225aa2d08</string>
</dict>
</plist>